amqplib
# install system-wide via python-gdal package --> gdal
numpy
scipy
geojson
psycopg2
pylons==1.0
python-cjson
recaptcha-client
shapely
sphinx
sqlalchemy==0.6.6
WebOb==1.1.1
WebTest==1.4
psutil
pydot # for generating dot files of models
