/* General */
a {text-decoration: none}

/* Structure */
#main {position: fixed; top: 2em; left: 0; right: 0; bottom: 0; z-index: 5; overflow: auto}
#header {position: fixed; top: 0; left: 0; right: 0; height: 2em}

/* Elements */
#toolbar {position: absolute; top: 0; left: 0}
#navigation {position: absolute; top: 0; right: 0; text-align: right}

/* Font */
.normalFONT {font-family: Arial, Helvetica, sans-serif}

/* Hover */ 
.linkOFF {color: darkblue; background-color: white} 
.linkON {color: white; background-color: darkblue}

/* Bits */
.maximumWidth {width: 100%}
